<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="teacher" class="com.zpf.ioc.Teacher">
		<property name="name" value="zhangsan"/>
	</bean>

<!--	<bean id="demoPublisher" class="com.zpf.ioc.desigon.DemoPublisher">-->
<!--		<property name="applicationContext" value="zhangsan"/>-->
<!--	</bean>-->

</beans>